h1{
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: $blue;
}
h2{
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: $blue;
}
h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: $blue;
}
p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $blue_light;
}