.hero{
    @include breakpoint (tablet){
        padding-left: 0px;
        padding-top: 40px;
    }
    &__title{
        padding-bottom: 26px;
        @include breakpoint(tablethorizontal){
            font-size: 52px;
            line-height: normal;
        }
    }
    &__text{
        padding-bottom: 26px;
        @include breakpoint (tablet){
            font-size: 16px;
            max-width: 89%;
        }
    }
    &__img{
        margin-top: 50px;
        margin-bottom: 60px;
        text-align: center;
        position: relative;
        img{
            width: 80%;
            @include breakpoint (tablet){
                display: none;
            }
        }
        p.text_grey{
            font-size: 14px;
            font-weight: 700;
            padding-bottom: 10px;
        }
        p.hero__img__numbers{
            font-size: 32px;
            font-weight: 800;
            color: $dark;
        }
        &__info{
            position: absolute;
            top: 0;
            right: 0;
            background-color: $white;
            border-radius: 10px;
            padding: 20px 16px;
            @include breakpoint(tablet) {
                top: -124px;
                right: 25px;
            }
            @include breakpoint(tablethorizontal) {
                display: none;
            }
            @include breakpoint(desktop) {
                display: block;
                position:absolute;
                top: -22px;
                right: -38px;
            }
        }
        &__info2{
            position: absolute;
            bottom: 0px;
            left: 0;
            background-color: $white;
            border-radius: 10px;
            padding: 16px 45px 16px 20px;
            box-shadow: 0 5px 10px #ccc;
            @include breakpoint(tablet) {
                bottom: -103px;
                left: -37px;
            }
            @include breakpoint(tablethorizontal) {
                display: none;
            }
            @include breakpoint(desktop) {
                display: block;
                position:absolute;
                bottom: -103px;
                left: 167px;
            }
    }
    @include breakpoint(tablet){
        width: 40%;
    }
    @include breakpoint(tablethorizontal){
        width: 50%;
    }
    }
    &__content{
        @include breakpoint(tablet){
            width: 60%;
        }
        @include breakpoint(tablethorizontal){
            width: 50%;
        }
    }
    .container{
        @include breakpoint (tablet){
            display: flex;
        }
    }
}