$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fonts
$primary-font: "Barlow", sans-serif;

//Colors
$orange: rgba(241, 103, 24, 1);
$orange_light: rgba(255, 155, 98, 1);
$blue: rgba(22, 37, 66, 1);
$blue_light: rgba(123, 139, 173, 1);
$grey: rgba(232, 239, 242, 1);
