$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fonts
$primary-font: "Poppins", sans-serif;
$title-font: "Playfair Display";

//Colors
$black: #424241;
$gray: #9E9D9B;