.container{
    padding-left: 66px;
    padding-right: 66px;
}

.backcontainer{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../img/ornament.png);
    background-color: rgba(239, 239, 238, 1);
    padding-bottom: 50px;
}