$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fonts
$primary-font: "Oswald", sans-serif;
$secondary-font: "Quattrocento", sans-serif;

//Colors
$black: #303030;
$gray: #909090;
$white: #F6F6F6;