@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin reset-list(){
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

@mixin button(){
  display: inline-block;
  color: white;
  background-color: $pink;
  padding: 10px 26px;
  border-radius: 24px;
  text-decoration: none;
  &:hover{
    background-color: $dark;
  }
}