$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fonts
$primary-font: "Poppins", sans-serif;
$secundary-font: "Bebas Neue", sans-serif;

//Colors
$pink: #DC0155;
$dark: #333333;
$gray: #909090;