body{
    @include breakpoint (tablet){
        background-image: url(/img/hero-img.png);
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: 110% 0;
    }
    @include breakpoint(tablethorizontal) {
        background-position: 100% 0;
        background-size: 450px;
    }
}